// $base: #191724;
// $surface: #1f1d2e;
// $overlay: #26233a;

// $text: #d9e0ee;
// $subtle: #908caa;
// $muted: #6e6a86;

// $pine: #31748f;
// $love: #eb6f92;
// $gold: #f6c177;
// $iris: #c4a7e7;
// $foam: #8ccfd8;
// $rose: #ebbcba;

$base: #232136;
$surface: #2a273f;
$overlay: #393552;

$text: #e0def4;
$subtle: #908caa;
$muted: #d9e0ee;

$love: #eb6f92;
$gold: #f6c177;
$rose: #ea9a97;
$pine: #3e8fb0;
$foam: #9ccfd8;
$iris: #c4a7e7;


* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: monosapce;
  // font-size: 10px;
}

.bar {}

// giving some margin to the bar sections
.top-right,
.top-middle,
.top-left {
  margin: 5px;
}

.top-right {
  // background-color: $gold;
  // color: $base;
}


.battery scale trough {
  background-color: $rose;
  min-height: 13px;
  min-width: 500px;
  margin-left: 10px;
  margin-right: 20px;
}

.top-middle {
  background-color: $rose;
  color: $base;
}

.top-left {}


/*
time and date
*/
.time-date {
  background-color: $surface;
  border: 3px solid $gold;
  margin: 5px;
  padding: 5px;
  box-shadow: -5px -5px 0px 0px $gold;

  .clock {

    font-size: 15px;
    font-weight: 900;
    color: $gold;
  }

}

/*
battery
*/

// the container that holds the scale
.battery {
  font-size: 15px;
  background-color: $surface;
  border: 3px solid $foam;
  margin: 5px;
  padding: 5px;
  font-weight: 900;
  box-shadow: -5px -5px 0px 0px $foam;

}

// the scale's space
.battery progressbar trough {
  background-color: $pine;
  color: $text;
  min-width: 100px;
  min-height: 25px;
}

// the thing that fills the space, the progress
.bat-ok progress {
  background-color: $foam;
  min-height: 25px;
}

.bat-discharging progress {
  background-color: $love;
  min-height: 25px;
}

/*
workspaces
*/
.active-workspace,
.occupied-workspace {
  background-color: $surface;
}

.active-workspace,
.occupied-workspace,
.inactive-workspace {
  padding: 5px;
  font-size: 20px;
  border: 1px solid;
  margin: 0px 10px 0px 0px;
}

.active-workspace {
  border-color: $rose;
  color: $rose;
  font-weight: 900;
  box-shadow: -5px -5px 0px 1px $rose;

}

.occupied-workspace {
  border-color: $text;
  color: $text;
}

.inactive-workspace {}

/* 
tooltip
*/
tooltip.background {}

tooltip label {
  font-size: 15;
  font-weight: 900;
  background-color: $overlay;
  padding: 5px;
  color: $pine;
  border: 3px solid $pine;
  margin: 5px;
  box-shadow: -5px -5px 0px 0px $pine;
}