$base: #191724;
$pine: #31748f;
$surface: #1f1d2e;
$text: #d9e0ee;
$overlay: #26233a;
$love: #eb6f92;
$gold: #f6c177;
$iris: #c4a7e7;
$foam: #8ccfd8;
$subtle: #908caa;
$rose: #ebbcba;
$subtle: #908caa;
$muted: #6e6a86;

* {
    all: unset; //Unsets everything so you can style everything from scratch
    font-family: monosapce;
    // font-size: 10px;
}

.info {
    border-radius: 10px;
    padding: 5px;
    .battery-container {
        margin : 2px;
        border-radius: 5px;
        background:$surface;
        padding: 10px;
        .battery-charge{
            color: $pine;
            border-radius: 10px;
            padding: 10px;
        }
        .battery-percent {
            font-weight: 400;
            color: $muted;
            font-size: 12px;
        }
        .battery-title {
            font-weight: 900;
            color: $foam;
            background: $base;
            border-radius:10px;
            font-size: 15px;
            padding: 5px;
        }
    }

    .network-container {
        margin : 2px;
        border-radius: 5px;
        background:$surface;
        padding: 10px;
        .network-speed {

            .network-up {
                color:#31748f;
            }
            .network-down {
                color: $iris;
            }
        }
        .network-title {
            font-weight: 900;
            color: $foam;
            background:$base;
            border-radius:10px;
            font-size: 15px;
            padding: 5px;
        }
    }
}
.topbar {
    .ws {
        .tag {
            margin: 3px;
            background-color: $base;
            border-radius: 10px;
            .name {
                color: $muted;
                background: $base;
                font-weight:400;
                padding-right: 5px;
                margin: 5px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                font-size: 15px;
            }
			.monitor {
				color: $rose;
                background: $overlay;
                font-weight: 900;
                padding: 5px;
                border-radius: 5px;
                font-size:15px;

			}

            .active-monitor-one {
                color: $base;
                background: $love;
                font-weight: 900;
                padding: 5px;
                border-radius: 5px;
                font-size:15px;
            }
			.active-monitor-two {
                color: $base;
                background: $pine;
                font-weight: 900;
                padding: 5px;
                border-radius: 5px;
                font-size:15px;
            }
            

            .occupied {
                color: $base;
                background: $foam;
                font-weight: 900;
                padding: 5px;
                border-radius: 5px;
                font-size:15px;
            }

            .empty {
                color: $muted;
                background: $surface;
                font-weight: 900;
                padding: 5px;
                border-radius: 5px;
                font-size:15px;

            }
        }
    }
}
