$base: #191724;
$pine: #31748f;
$surface: #1f1d2e;
$text: #d9e0ee;
$overlay: #26233a;
$love: #eb6f92;
$gold: #f6c177;
$iris: #c4a7e7;
$foam: #8ccfd8;
$subtle: #908caa;

* {
    all: unset; //Unsets everything so you can style everything from scratch
    font-family: monosapce;
    // font-size: 10px;
}
.battery{
    background:$surface;
    border-radius: 5px;
    padding: 10px

    .batterycontainer{
        border-radius: 5px;
        background:$surface;
        padding: 10px
        .batterycharge{
            color: $pine;
            border-radius: 10px;
            padding: 10px;
        }
    }
}
.topbar {
    .ws {
        .tag {
            margin: 3px;
            background-color: $base;
            border-radius: 10px;
            .name {
                color: $text;
                background: $base;
                font-weight:400;
                padding-right: 5px;
                margin: 5px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                font-size: 15px;
            }

            .active {
                color: $base;
                background: $love;
                font-weight: 900;
                padding: 5px;
                border-radius: 5px;
                font-size:15px;
            }
            

            .occupied {
                color: $base;
                background: $pine;
                font-weight: 900;
                padding: 5px;
                border-radius: 5px;
                font-size:15px;
            }

            .empty {
                color: $text;
                background: $surface;
                font-weight: 900;
                padding: 5px;
                border-radius: 5px;
                font-size:15px;

            }
        }
    }
}
