$base: #191724;
$pine: #31748f;
$surface: #1f1d2e;
$text: #d9e0ee;
$overlay: #26233a;
$love: #eb6f92;
$gold: #f6c177;
$iris: #c4a7e7;
$foam: #8ccfd8;
$subtle: #908caa;

* {
    all: unset; //Unsets everything so you can style everything from scratch
    font-family: monosapce;
}

.icon {
    font-family: monospace;
    font-size: 1rem;
}




.active {
    color: $foam;
    font-size: 1.4rem;
}

.inactive {
    color: $base;
    font-size: 1.4rem;
}

.inactive:hover {
    color: $subtle;
}

.bar {
    background-color: $base;
    border-left: 4px dotted $love;
}

.dashboard {
    background-color: $base;
    padding: 1rem;
    margin-bottom: 1rem;
}

.cal-box {
    padding: 1rem 1rem .2rem;
}

.cal {
    padding: 0;
    border-radius: 8px;
}

.calendar_box {
    padding: 1rem;
    calendar:selected {
        color: $pine;
    }

    calendar.header {
        color: $pine;
        font-weight: bold;
    }

    calendar.button {
        color: $pine;
    }

    calendar.highlight {
        color: $foam;
        font-weight: bold;
    }

    calendar:indeterminate {
        color: rgba(205, 219, 249, 0.3);
    }
}

.sysinfo_box {
    padding: 1rem;
    .iconmem {
        font-size: 3rem;
        color: $gold;
    }
    .iconcpu {
        font-size: 3rem;
        color: $pine;
    }
    .icondisk {
        font-size: 3rem;
        color: $foam;
    }
    .cpubar, .membar, .diskbar {
        background-color: $base;
    }
}
.slider_box {
    padding: 0 1rem;
    scale {
        background-color: $base;
        border-radius: 100px;
        margin: 0.5rem 0;
    }

    scale trough {
        border-radius: 100px;
    }

    scale highlight {
        padding: 8px;
        margin: 8px;
        border-radius: 100px;
    }
    
    .brightness_slider highlight {
        background-color: $gold;
    }

    .volume_slider highlight {
        background-color: $pine;
    }

    .micvolume_slider highlight {
        background-color: $foam;
    }
    
    .slider_icon {
        font-size: 2rem;
        padding-right: 0.75rem;
    }
}

.notification_box {
}

.wifi {
  font-size: 2rem;
  color: $pine;
}

.clock {
  font-weight: bold;
  background-color: $base;
  color: $text;
  border-radius: 10px;
  padding: 0.2rem;
  margin: 0.5rem;
}

.cpubar {
  color: $pine;
  background-color: $surface;
  margin: 4px 0;
}

.diskbar {
  color: $foam;
  background-color: $surface;
  margin: 4px 0;
}

.membar {
    color: $gold;
    background-color: $surface;
  margin: 4px 0;
}

.iconmem, .iconcpu, .icondisk {
    color: $base;
    font-size: 2.5rem;
}

.date {
  font-size: 1.5rem;
}

.reg-btn { 
    font-size: 2rem;
    margin: 2px 8px;
    border-radius: 10px;
}

.dashbutton {
    color: $iris;
}

.dashbutton:hover {
    background-color: $base;
}

.dashbutton:active {
    background-color: $iris;
    color: $base;
}

.powerbutton { 
    color: $love; 
}

.powerbutton:hover {
    background-color: $base;
}

.powerbutton:active {
    background-color: $love;
    color: $base;
}

.launchbutton { 
    background-color: $pine; 
    color: $base;
    margin-top: 6px;
}

.launchbutton:hover {
    background-color: $iris;
}

.launchbutton:active {
    color: $iris;
    background-color: $base;
}

.battery {
    font-size: 1.5rem;
    color: $pine;
}

// Credits AlphaTechnolog
.powermenu-box {
    padding: 0 2px;
    margin: 7px 7px 7px 0px;
    background: inherit;
    .dispatcher {
        border-radius: 15px;
        background: $base;
        color: $love;
        font-size: 14px;
        padding: 0 14px 0 10px;
        &:hover { background-color: $surface; }
        &:active { background-color: $surface; }
    }
}

// powermenu
.powermenu-container {
  background: $base;
  color: $text;
  padding: 10px;
  font-size: 55px;

  transition: all 200ms cubic-bezier(.1,-0.00,.0,1.49);

  .btn { margin: 1rem;}
  // shutdown
  .shutdown-btn-box .btn {
    color: $love;
    border-radius: 15px;
    background-color: $base;
    &:hover { background-color: $base; }
    &:active { background-color: $surface; }
  }
  // reboot
  .reboot-btn-box .btn {
    color: $iris;
    border-radius: 15px;
    background-color: $base;
    &:hover { background-color: $base; }
    &:active { background-color: $surface; }
  }
  // exit
  .exit-btn-box .btn {
    color: $gold;
    border-radius: 15px;
    background-color: $base;
    &:hover { background-color: $base; }
    &:active { background-color: $surface; }
  }
}

